################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/qStatitstics/obj
/.vs
/qStatitstics/bin/
/QStat.Package/AppPackages
/QStat.Package/bin/AnyCPU
/QStat.Package/obj
/QStat.Package/QStat.Package.assets.cache
